body{
    font-family: Poppins Regular;
}
nav{
    background-color:#0475ba;
    display: flex;
    align-items: center;
    padding: 1px 2px;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}
h1{
    text-align: center;
}
#presentation{
    background-color: #0475ba;
    padding: auto;
    margin: auto; 
    font-size: 20px;
}
#formation{
    background-color:#0475ba ;
    width: auto;
    font-size: 20px;
}
#experience-professionelle{
    font-size: 20px;
}
h3{
    font-size: 20px;
    margin: 40px;
}
.step{
    text-align: center;
}
img{
    border-radius: 50%;
    width:40vh;
}



    
